<!-- Footer -->
<footer>
    <div class="footer-section white-section">
        <div id="footer-nav">
            <ul class="social">
                <li class="left"><a id="footer-facebook" href="https://www.facebook.com/AllStarSlotsCasino"><img src="/Images/Common/footer_facebook.png" /><p>Facebook</p></a></li>
                <li class="center"><a id="footer-twitter" href="https://twitter.com/AllStar_Slots"><img src="/Images/Common/footer_twitter.png" /><p>Twitter</p></a></li>
                <li class="right"><a id="footer-google-plus" href="https://plus.google.com/+AllstarslotsCasino"><img src="/Images/Common/footer_google.png" /><p>Google+</p></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-section blue-section">
        <div id="footer-nav">
            <ul class="sitelinks">
                <li><a id="footer-responsible-gambling" href="@Url.Action("Index", "ResponsibleGambling", new { area = "Core" })">Responsible Gambling</a></li>
                <li><a id="footer-terms-and-conditions" href="@Url.Action("Index", "TermsConditions", new { area = "Core" })">Terms &amp; Conditions</a></li>
                <li><a id="footer-affiliate-edge" href="http://www.affiliateedge.com">Become An Affiliate</a></li>
                <li><a id="footer-sitemap" href="@Url.Action("Index", "Sitemap", new { area = "Core" })">Sitemap</a></li>
                <li><a id="footer-contact-us" href="@Url.Action("ContactUs", "AboutUs", new { area = "Core" })">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-section blue-section">
        <div class="ass-container pure-g">
            <div class="pure-u-md-3-5 pure-u-1">
                <div class="footer-content">
                    <img src="/Images/Common/logo.png" class="logo" />
                    <h2 class="h2">All Star Slots</h2>
                    <p>
                        We are fully licensed by the Kahnawake Gaming Commission, one of the most respected regulatory bodies in the online casino industry.
                        For years, we have built up a solid reputation for reliable payouts, great games and a support team that's geared around getting you back into the action as quickly as possible.
                        We are operated by World Online Game, a company that is synonymous with high-quality online casino.
                    </p>
                </div>
            </div>
            <div class="pure-u-md-2-5 pure-u-1">
                <div class="footer-content">
                    <a class="ass-download-button visible-md-inline f-right" href="@Url.Action("Index", "Download", new { Area = "Core" })">Download</a>
                    <a id="footer-download" class="ass-download-button hidden-md-inline" href="http://m.lobby.allstarslots.com">Play Now</a>
                    <br class="visible-xs" />
                    <a id="footer-kahnawake" href="https://certificates.gamingcommission.ca/KGCCertificates.aspx?id=6184d14a-1a16-487c-ba54-74be559670a3" target="BrandNameCertificates" class="k-link f-right" onclick="window.open('https://certificates.gamingcommission.ca/KGCCertificates.aspx?id=6184d14a-1a16-487c-ba54-74be559670a3','BrandNameCertificates','location=0,status=0,scrollbars=1');return false">
                        <img class="img-t-margin pure-img" src="https://certificates.gamingcommission.ca/Members/Pages/Certificates/GeneratedCertificates/logo.gif" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-section blue-section copy">
        <p class="copyright">© Copyright All Star Slots 2015</p>
    </div>
</footer>
<!-- End Footer-->