<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex" />
    <title>@ViewBag.Title - Blog Admin</title>
    @RenderSection("styles", required: false)

    @Styles.Render("~/blog/Content/css")
    @Scripts.Render("~/blog/bundles/modernizr")
    @Scripts.Render("~/blog/bundles/jquery")
    @Scripts.Render("~/blog/bundles/bootstrap")
</head>
<body>
    <div class="container body-content">
        <nav>
            @Html.ActionLink("Posts", "Index", "BlogPostAdmin")
            | @Html.ActionLink("Categories", "Index", "CategoryAdmin")
        </nav>
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
