@model IEnumerable<CWG.Web.Blog.ViewModels.Admin.CategoryListItem>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Slug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Posts", "Index", "BlogPostAdmin", new { category = item.Slug }, null)
                @if(item.CanEdit)
                {
                    <text>|</text> @Html.ActionLink("Edit", "Edit", "CategoryAdmin", new { id = item.Id }, null)
                }
                @if(item.CanDelete)
                {
                    <text>|</text> @Html.ActionLink("Delete", "Delete", "CategoryAdmin", new { id = item.Id }, null)
                }
            </td>
        </tr>
    }

</table>