@model IEnumerable<CWG.Web.Blog.ViewModels.Admin.BlogPostListItem>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Slug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeaturedContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeaturedImageUrl)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeaturedContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeaturedImageUrl)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "BlogPost", new { slug = item.Slug }, null)

                @if (item.CanEdit)
                {
                    <text>|</text> @Html.ActionLink("Edit", "Edit", "BlogPostAdmin", new { id = item.Id }, null)
                }

                @if (item.CanDelete)
                {
                    <text>|</text> @Html.ActionLink("Delete", "Delete", "BlogPostAdmin", new { id = item.Id }, null)
                }
            </td>
        </tr>
    }

</table>